<h1>Meet the people behind Eliane French Bakery</h1>
<p>Eliane came over to the United States from Tahiti with her family in ?2006?.  She had a passion
for making delicious French food and trained with the best.  Now, both the store that 
shares her name and the treasures sold inside are a bold testament of how she has 
mastered the art and science of creating delicious, gorgeous French food.  
</p>
<p>Working along side her every day is her son Jacques.  He shares Eliane's passion
for spectacular French food and finds joy in sharing the culinary journey
with his customers.  When you depart from Eliane's, you're sure to find yourself
with both a full belly and a full heart, because Jacques really takes the time to get
to know each and every one of his customers.  You'll be sure to hear him say some of his
signature catch phrases like, "Soooo good!", "Have a GREAT day!" and a big 
thumbs-up accompanied by an even bigger smile.</p>
