<p> We would love to hear from you!  Please use the form below to share a message with us</p>

<form action="mailto:elianefrenchbakery@gmail.com" class="example-container">
  <mat-form-field>
    <input type="email" name="email" matInput placeholder="What's your email address?">
  </mat-form-field>

    <mat-form-field>
    <input type="text" name="text" matInput placeholder="What's your name?">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput name="message" placeholder="What would you like to say?"></textarea>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
