.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar.button {
    margin-right:8px;
}

mat-toolbar > a > button {
    margin-right:8px;
}

.logo {
    height: 52px;
    margin-right: 8px;
}