<div class="product-container">
    <div *ngFor="let product of products">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{ product.name }}</mat-card-title>
                <mat-card-subtitle *ngIf="product.price; else elseBlock">{{ product.price | currency }}</mat-card-subtitle>
                <ng-template #elseBlock><mat-card-subtitle>Call us for price</mat-card-subtitle></ng-template>
            </mat-card-header>
            <img mat-card-image src="/elianefrenchbakery/assets/products/thumbnails/{{product.img}}"
                alt="Photo of {{product.name}}">
            <mat-card-content>
                <div *ngIf="product.description">
                    Description: {{ product.description }}
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>